<!doctype html>
<style>
  {% load static %}
  body {
    
    background-image: url("{% static 'img/back1.jpg' %}");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
	
  .alert {
  padding: 20px;
  background-color: #04AA6D;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  }

  .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

	.center {
  margin: auto;
  width: 100%;
}

.button {
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button1:hover {
  background-color: #008CBA;
  color: white;
}

.round1 {
  border: 1px solid black;
  
  padding: 15px;
}

.logbtn {
  background-color: #ffffff;
  color: black;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.grade {
  height: 72px;
  background-image: linear-gradient(to left, rgba(255,0,0,0), #343a40);
}
#main tr:nth-child(even) { 
  background-color: #e2f3dd;
}
#main tr:nth-child(odd) { 
  background-color: #ffffff;
}


</style>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>New Boat Ticket</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'img/menu/kkk.png' %}">
  </head>
  <body>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	
	
	
	
    {% load static %}
  <div class="grade"><h1 class="display-4" style="color: white;">Boat Ticket Issue</h1></div>
  {% if request.user.is_authenticated %}
  <a style="color: rgb(0, 255, 255); background-color: #343a40;font-size: 18px;" href='/' type="button" class="btn btn-dnger"><i class="fa fa-home" style="font-size:20px;color:rgb(0, 255, 255)"></i>  Home</a>
  <div class="center">
    
	<form style="background-color: rgb(114, 163, 140);" class="form round1" action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% load static %}
            <table>
				<tr>
            <th>
              <label for="date">Date</label><br>
              {{form_new_ticket.date}}
            </th>
            <th>
              <label for="name">Customer name</label><br>
              {{form_new_ticket.name}}
            </th>
            <th>
              <label for="mobile">Mobile</label ><br>
              {{form_new_ticket.mobile}}
            </th>
            <th>
              <label for="email">Email Id</label ><br>
              {{form_new_ticket.email}}
            </th>
          </tr>
		</table>
        <hr>
        <table>
            <tr>
                <th>
                    <label for="full_address">Full Address</label ><br>
                    {{form_new_ticket.full_address}}
                </th>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <th>
                    <label for="landmark">Landmark</label ><br>
                    {{form_new_ticket.landmark}}
                </th>
                <th>
                    <label for="model">Model name</label ><br>
                    {{form_new_ticket.model}}
                </th>
                <th>
                    <label for="colour">Colour</label ><br>
                    {{form_new_ticket.colour}}
                </th>
                <th>
                    <label for="issue">Issue</label ><br>
                    {{form_new_ticket.issue}}
                </th>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <th>
                    <label for="invoice">Invoice No.</label ><br>
                    {{form_new_ticket.invoice}}
                </th>
                <th>
                    <label for="inv_img">Upload Invoice (jpeg only)</label ><br>
                    {{form_new_ticket.inv_img}}
                </th>
                <th>
                    <label for="retailer">Retailer name</label ><br>
                    {{form_new_ticket.retailer}}
                </th>
                <th>
                    <label for="retailer_ph">Retailer Phone</label ><br>
                    {{form_new_ticket.retailer_ph}}
                </th>
                <th>
                    <label for="pickup">Pickup from</label ><br>
                    {{form_new_ticket.pickup}}
                </th>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <th>
                    <label for="agent">Agent</label ><br>
                    {{form_new_ticket.agent}}
                </th>
                <th>
                    <label for="status">Status</label ><br>
                    {{form_new_ticket.status}}
                </th>
                <th>
                    <label for="remarks">Remarks</label ><br>
                    {{form_new_ticket.remarks}}
                </th>
            </tr>
        </table>
			
			
            <br>
			<table>
				<th><button class="button button1" type="submit">Submit</button></th>
				<th><button class="button button1" type="reset">Reset</button></th>
			</table>
			<div>
              {% for message in messages %}
              <div class="alert success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>  
                <strong>Success!</strong> {{message}}
              </div>
              {% endfor %}
          </div>
    </form>
	
  
  </div>
  
  
  
  
  {% else %}
  
  <form style="background-color: rgb(114, 163, 140);" class="form round1" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% load static %}
              <table>
                  <tr>
              <th>
                <label for="date">Date</label><br>
                {{form_new_ticket.date}}
              </th>
              <th>
                <label for="name">Customer name</label><br>
                {{form_new_ticket.name}}
              </th>
              <th>
                <label for="mobile">Mobile</label ><br>
                {{form_new_ticket.mobile}}
              </th>
              <th>
                <label for="email">Email Id</label ><br>
                {{form_new_ticket.email}}
              </th>
            </tr>
          </table>
          <hr>
          <table>
              <tr>
                  <th>
                      <label for="full_address">Full Address</label ><br>
                      {{form_new_ticket.full_address}}
                  </th>
              </tr>
          </table>
          <hr>
          <table>
              <tr>
                  <th>
                      <label for="landmark">Landmark</label ><br>
                      {{form_new_ticket.landmark}}
                  </th>
                  <th>
                      <label for="model">Model name</label ><br>
                      {{form_new_ticket.model}}
                  </th>
                  <th>
                      <label for="colour">Colour</label ><br>
                      {{form_new_ticket.colour}}
                  </th>
                  <th>
                      <label for="issue">Issue</label ><br>
                      {{form_new_ticket.issue}}
                  </th>
              </tr>
          </table>
          <hr>
          <table>
              <tr>
                  <th>
                      <label for="invoice">Invoice No.</label ><br>
                      {{form_new_ticket.invoice}}
                  </th>
                  <th>
                      <label for="inv_img">Upload Invoice (jpeg only)</label ><br>
                      {{form_new_ticket.inv_img}}
                  </th>
                  <th>
                      <label for="retailer">Retailer name</label ><br>
                      {{form_new_ticket.retailer}}
                  </th>
                  <th>
                      <label for="retailer_ph">Retailer Phone</label ><br>
                      {{form_new_ticket.retailer_ph}}
                  </th>
                  <th>
                      <label for="pickup">Choose Pickup Option</label ><br>
                      {{form_new_ticket.pickup}}
                  </th>
              </tr>
          </table>
          <hr>
          
              
              
              <br>
              <table>
                  <th><button class="button button1" type="submit">Submit</button></th>
                  <th><button class="button button1" type="reset">Reset</button></th>
              </table>
              <div>
                {% for message in messages %}
                <div class="alert success">
                  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>  
                  <strong>Success!</strong> {{message}}
                </div>
                {% endfor %}
            </div>
      </form>


  {% endif %}

 
	
	
	
	
	

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    
  </body>
</html>

<script type="text/javascript">
  let year = document.querySelector("#year");

$(document).ready(function () {
  year.innerText = new Date().getFullYear();
});
</script>

<script async src="https://cse.google.com/cse.js?cx=90954e1c42eab42d8">
</script>